<ion-content [fullscreen]="true">
  <div class="container">
    <ion-buttons slot="start">
      <ion-button class="back-chevron" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>

    <ion-text>
      <h1 style="text-align: center; font-size: 100px;"><ion-icon name="person-circle-outline"
          style="text-align: center;"></ion-icon>
      </h1>
    </ion-text>

    <ion-text>
      <h1 style="text-align: center;">{{userEmail}}</h1>
    </ion-text>


    <ion-text class="logout" (click)="onLogOut()">
      <h1 style="text-align: center; font-size: 100px; color:darkred;"><ion-icon name="power-outline"
          style="text-align: center;"></ion-icon>
      </h1>
    </ion-text>

  </div>
</ion-content>
