.container {
  padding-top: 56px;
}

h1{
  font-size: 3rem;
  font-weight: 800;
}

.back-chevron{
  font-size: 2rem;
  color: white;
}

p{
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.list-padding {
  padding-bottom: 16px; 
}
