<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>App Title</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/home" routerLinkActive="selected">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
        <!-- <ion-button routerLink="/projects" routerLinkActive="selected">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button> -->
        <ion-button routerLink="/login" routerLinkActive="selected">
          <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <app-footer></app-footer>
</ion-app>
