.container {
  padding-top: 56px;
}

.add-icon, .button-text {
  font-weight: 500;
  font-size: 1.5rem;
  color:white;
}

.haute{
  background-color: darkred;
  color: white;
}

.moyenne{
  background-color: darkorange;
  color: white;
}

.basse{
  background-color: darkgreen;
  color: white;

}

ion-content::part(scroll) {
  padding-bottom: var(--ion-safe-area-top, 0);
}

ion-button[slot='fixed'] {
  top: 50%;
  right: 20px;
}

ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 25px);
}