<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>project-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-buttons slot="start">
      <ion-button class="back-chevron" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-toolbar>
      <div *ngIf="!updateProcess">
        <ion-title size="large">Créer une tâche</ion-title>
      </div>
      <div *ngIf="updateProcess">
        <ion-title size="large">Modifier une tâche</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input labelPlacement="floating" formControlName="name">
          <div slot="label">Nom de la tâche
            <ion-text color="danger">(Required)

            </ion-text>
          </div>
        </ion-input>
      </ion-item>

    </ion-list>

    <!-- <div style="text-align: center; padding-top: 40px;">
      <ion-button color="success" (click)="takePhoto()"><ion-icon name="camera"></ion-icon></ion-button>
      <ion-img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%; margin-top: 10px;"></ion-img>

    </div> -->


    <div style="text-align: center; padding-top: 40px;">

      <ion-button color="success" class="half-width" type="submit" (click)="onSubmit()"><span
          *ngIf="!updateProcess">Créer</span><span *ngIf="updateProcess">Mettre à jour</span></ion-button>


    </div>
  </form>

</ion-content>
