ion-footer {
  --background: #f8f9fa; 
}

ion-button {
  display: flex;
  justify-content: center;
  align-items: center;
  --color: #007bff;
}

ion-icon {
  margin: auto;
  --ionicon-stroke-width: 32px;
}
